In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('BreastCancer.xlsx')

In [3]:
df

,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Epithelial Cell Size,Bare Nuclei,Chromatin,Nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,1
1,5,4,4,5,7,10.0,3,2,1,1
2,3,1,1,1,2,2.0,3,1,1,1
3,6,8,8,1,3,4.0,3,7,1,1
4,4,1,1,3,2,1.0,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1,1
695,2,1,1,1,2,1.0,1,1,1,1
696,5,10,10,3,7,3.0,8,10,2,0
697,4,8,6,4,3,4.0,10,6,1,0
698,4,8,8,5,4,5.0,10,4,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Clump Thickness       699 non-null    int64
 1   Cell Size             699 non-null    int64
 2   Cell Shape            699 non-null    int64
 3   Marginal Adhesion     699 non-null    int64
 4   Epithelial Cell Size  699 non-null    int64
 5    Bare Nuclei          683 non-null    float64
 6   Chromatin             699 non-null    int64
 7   Nucleoli              699 non-null    int64
 8   Mitoses               699 non-null    int64
 9   Class                 699 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 54.7 KB

In [5]:
df.isnull().sum()

Clump Thickness          0
Cell Size                0
Cell Shape               0
Marginal Adhesion        0
Epithelial Cell Size     0
 Bare Nuclei            16
Chromatin                0
Nucleoli                 0
Mitoses                  0
Class                    0
dtype: int64

## missing value cleaning

In [9]:
# method 1: remove rows with missing values

x1=df.dropna(subset=[' Bare Nuclei'])
x1

,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Epithelial Cell Size,Bare Nuclei,Chromatin,Nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,1
1,5,4,4,5,7,10.0,3,2,1,1
2,3,1,1,1,2,2.0,3,1,1,1
3,6,8,8,1,3,4.0,3,7,1,1
4,4,1,1,3,2,1.0,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1,1
695,2,1,1,1,2,1.0,1,1,1,1
696,5,10,10,3,7,3.0,8,10,2,0
697,4,8,6,4,3,4.0,10,6,1,0
698,4,8,8,5,4,5.0,10,4,1,0

In [11]:
x1.isnull().sum()

Clump Thickness         0
Cell Size               0
Cell Shape              0
Marginal Adhesion       0
Epithelial Cell Size    0
 Bare Nuclei            0
Chromatin               0
Nucleoli                0
Mitoses                 0
Class                   0
dtype: int64

In [13]:
x1.shape

(683, 10)

In [14]:
# method 2: remove att with missing value

x2=df.drop(' Bare Nuclei', axis=1)

In [15]:
x2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Clump Thickness       699 non-null    int64
 1   Cell Size             699 non-null    int64
 2   Cell Shape            699 non-null    int64
 3   Marginal Adhesion     699 non-null    int64
 4   Epithelial Cell Size  699 non-null    int64
 5   Chromatin             699 non-null    int64
 6   Nucleoli              699 non-null    int64
 7   Mitoses               699 non-null    int64
 8   Class                 699 non-null    int64
dtypes: int64(9)
memory usage: 49.3 KB

In [ ]:
x